* {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: #242424;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.row {
  max-width: 1600px;
  padding: 0 20px;
  display: flex;
  margin: 0 auto;
  height: 100%;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 44px;
  text-align: center;
}

h2 {
  font-size: 36px;
}

p {
  color: #414141;
  line-height: 1.5;
  font-size: 18px;
  text-align: justify;
}

.text__purple {
  color: rgb(99, 35, 182);
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: translateY(5px);
}

/*ANIMATIONS*/

@keyframes left {
  0% {
    transform: translateX(-3000px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes right {
  0% {
    transform: translateX(3000px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* NAV */

#landing {
  height: 100vh;
  animation: left 1000ms 300ms backwards;
}

.nav__row {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  height: fit-content;
  display: flex;
  align-items: center;
}

.nav__icon {
  color: white;
  font-weight: bold;
  font-size: 28px;
  padding: 4px 10px;
  background-color: rgb(99, 35, 182);
  border-radius: 4px;
  transition: all 300ms ease;
}

.nav__icon:hover {
  opacity: 0.9;
}

.nav__name {
  font-size: 24px;
  font-weight: bold;
  padding: 8px;
  transition: all 300ms ease;
}

.nav__name:hover {
  color: rgb(99, 35, 182);
}

.nav__link--list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}

.nav__link-list-item {
  font-size: 18px;
  font-weight: bold;
  transition: all 300ms ease;
  position: relative;
  display: flex;
  align-items: center;
  height: fit-content;
}

.nav__link {
  transition: all 200ms ease;
}

.nav__link-hover-effect {
  width: 0%;
  height: 3px;
  border-radius: 3px;
  position: absolute;
  bottom: -5px;
  right: 0;
  background-color: rgb(99, 35, 182);
  transition: all 600ms ease;
}

.nav__link-list-item:hover .nav__link-hover-effect {
  width: 100%;
  left: 0;
}

.nav__link-list-item:hover .nav__link {
  color: rgb(99, 35, 182);
}

.login__link {
  display: flex;
  align-items: center;
  margin: 0 0 0 20px;
}

.nav__link--primary {
  padding: 8px 28px;
  margin-left: 12px;
  border-radius: 20px;
  color: white;
  background-color: rgb(99, 35, 182);
  transition: all 300ms ease;
}

.nav__link--primary:hover {
  opacity: 0.95;
  transform: scale(1.07);
}

/* landing page */

.landing__row {
  padding: 15px 0;
  height: fit-content;
}

.landing__container {
  height: 100%;
  align-items: start;
  padding-top: 40px;
}

.landing__organizer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 70px 32px;
  height: 100%;
  width: 50%;
}

.landing__title {
  margin-top: 50px;
  padding-bottom: 30px;
}

.landing__text {
  padding-bottom: 30px;
}

form {
  margin: 24px 0 0 0;
  position: relative;
  display: flex;
  width: fit-content;
}

.email {
  padding: 14px 160px 14px 14px;
  border-radius: 30px;
  font-size: 18px;
  border-color: #2424241e;
  transition: all 300ms ease;
}

.email:hover {
  border-color: #242424c0;
}

.email__button {
  position: absolute;
  top: 5px;
  right: 6px;
  padding: 11px 24px;
  border-radius: 30px;
  border: 0px;
  background-color: #6323b6;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: all 300ms ease;
}

.email__button:hover {
  background-color: #511c97;
  cursor: pointer;
}

.text__grey {
  font-size: 12px;
  color: #2424248f;
  margin: 100px 0 12px;
  font-weight: bold;
}

.landing__customers {
  display: flex;
}

.landing__customer--wrapper {
  display: flex;
  width: 90%;
}

.landing__customer--img {
  width: 100%;
  opacity: 0.7;
}

.landing__img--wrapper {
  display: flex;
  align-items: start;
  margin-left: 20px;
  padding-top: 50px;
  height: 100%;
  width: max-content;
}

.landing__img {
  width: 100%;
  height: fit-content;
}

/* FEATURES */

#features {
  padding: 00px 0;
  animation: right 800ms 500ms backwards;
  height: fit-content;
}

.features__row {
  height: 100%;
  max-width: 1200px;
}

.features__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: fit-content;
}

.features__title--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 80px;
}

h3 {
  font-size: 18px;
  letter-spacing: 5px;
  padding-bottom: 20px;
}

.features__title {
  font-size: 48px;
}

.grey__subtitle {
  padding-top: 20px;
  font-size: 22px;
  color: #2424248f;
  font-weight: bold;
  text-align: center;
  max-width: 500px;
}

.features__characteristics__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 40%;
}

.features__characteristic {
  width: 30%;
  display: flex;
  height: fit-content;
  padding-top: 60px;
}

.features__icon--wrapper {
  height: fit-content;
  display: flex;
  border: 1px solid black;
  border-radius: 50%;
  padding: 12px;
}

.features__characteristic--description {
  margin: 0 12px;
}

.features__characteristic--title {
  margin-bottom: 20px;
  font-size: 26px;
  letter-spacing: 1px;
}

.description__text {
  font-size: 20px;
}

/*QUALITY*/

#quality {
  display: flex;
  padding: 00px 0;
}

.quality__row {
  width: 1800px;
  margin: 0 auto;
  align-items: center;
}

.quality__container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.quality__organizer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  height: 100%;
  max-width: 500px;
}

.quality__title {
  text-align: start;
  margin: 30px 0;
}

.quality__subtitle {
  text-align: start;
  font-size: 20px;
  padding-bottom: 30px;
  text-align: justify;
  max-width: 90%;
}

.quality__button {
  padding: 11px 24px;
  border-radius: 30px;
  border: 0px;
  background-color: #6323b6;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: all 300ms ease;
}

.quality__button:hover {
  background-color: #511c97;
  cursor: not-allowed;
}

.quality__img--wrapper {
  border: 1px solid #2424241e;
  border-radius: 10px;
  display: flex;
  margin-left: 10px;
  max-width: 1000px;
  z-index: 2;
  position: relative;
}

.quality__img {
  width: 100%;
  border-radius: 20px;
}
/*STEPS*/

#steps {
padding: 00px 0;
}

.steps__img--wrapper{
display: flex;
align-items: center;
justify-content: center;
}

.steps__img{
  width: 100%;
}

.steps__organizer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-left: 40px;
}

.steps__title {
  text-align: start;
}

.step__organizer {
  margin: 32px 0 0 0;
}

.steps {
  display: flex;
  margin-bottom: 20px;
  max-width: 480px;
}

.steps__counter {
  font-size: 32px;
  padding: 8px;
  margin-right: 20px;
  color: #24242469;
  font-weight: bold;
  border: 1px solid #24242469;
  border-radius: 50%;
  height: fit-content;
}

.step__title {
  margin-bottom: 20px;
  font-size: 26px;
  letter-spacing: 1px;
}

.info__text {
  color: #242424a6;
}

/*VALUES*/

#values {
padding: 00px 0;
}

.values__organizer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  max-width: 500px;
}

.values__title--block {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.values__title {
  text-align: start;
}

.values__des {
  margin-top: 30px;
}

.values__lower--block {
  display: flex;
  margin-bottom: 20px;
}

.values__affordable--block {
  display: flex;
  flex-direction: column;
  margin: 32px 16px 0 0;
}

.icon__title {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 16px;
}

.values__icon--title {
  margin-left: 12px;
}

.values__icon--wrapper-p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: 1px solid #b6236d;
  border-radius: 50%;
  background-color: #b6236d70;
}
.values__icon--wrapper-a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: 1px solid #45b623;
  border-radius: 50%;
  background-color: #45b62371;
}

.fa-dollar-sign {
  color: #338a18;
}

.fa-briefcase {
  color: #86154e;
}

.affordable__description {
  color: #242424a6;
}

.values__button {
  margin-top: 24px;
  font-size: 14px;
  padding: 8px 18px;
}

.values__img--wrapper {
  display: flex;
  margin: 30px;
  max-width: 800px;
}

.values__img {
  width: 100%;
}

/* PRICING*/

.pricing__container {
  display: flex;
  flex-direction: column;
  padding: 00px 0;
}

.pricing__organizer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.pricing__title {
  margin-bottom: 32px;
}

.pricing__description {
  text-align: center;
  max-width: 460px;
  font-size: 18px;
  color: #242424a6;
  line-height: 1.5;
}

.pricing__columns--container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.pricing__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 30px 20px;
  transition: all 300ms ease;
  border-radius: 10px;
  box-shadow: 5px 5px 30px;
}

.pricing__column--highlight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 30px 20px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 255, 0.637) 0%,
    rgba(66, 167, 201, 0.841) 100%
  );
  border: 2px solid rgba(49, 69, 216, 0.497);
  border-radius: 10px;
}

.pricing__column--price {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #2424242d;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
  padding: 20px 90px;
  position: relative;
  overflow: hidden;
}

.price__decor {
  position: absolute;
  top: -5px;
  width: 95%;
  height: 12px;
  border-radius: 6px;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.price__decor2 {
  position: absolute;
  top: -5px;
  width: 95%;
  height: 12px;
  border-radius: 6px;
  background: linear-gradient(
    115deg,
    rgb(178, 56, 127) 0%,
    rgb(206, 88, 157) 100%
  );
}

.plan__name {
  padding: 16px 0;
  letter-spacing: normal;
}

.plan__price {
  padding: 0px 0 16px;
  font-size: 36px;
}

.plan__payment {
  color: #242424b4;
  letter-spacing: 1.5px;
}

.pricing__column--info {
  border-left: 1px solid #2424242d;
  border-right: 1px solid #2424242d;
  padding: 20px 90px;
  width: 100%;
}

.plan__target-audience {
  letter-spacing: normal;
}

.plan__characteristics {
  text-align: center;
  font-weight: 400;
  margin-bottom: 16px;
  color: #242424b4;
}

.pricing__column--buy {
  border: 1px solid #2424242d;
  padding: 20px 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pricing__button {
  border-radius: 30px;
  padding: 12px 50px;
  font-weight: bold;
  color: white;
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  border: none;
  width: 100%;
  transition: all 300ms ease;
}

.pricing__button2 {
  border-radius: 30px;
  padding: 12px 50px;
  font-weight: bold;
  color: white;
  background: linear-gradient(
    115deg,
    rgb(178, 56, 127) 0%,
    rgb(206, 88, 157) 100%
  );
  border: none;
  width: 100%;
  transition: all 300ms ease;
}

.pricing__button1 {
  border-radius: 30px;
  padding: 12px 50px;
  font-weight: bold;
  color: rgb(23, 54, 156);
  background-color: white;
  border: none;
  width: 100%;
  transition: all 300ms ease;
}

.pricing__button:hover,
.pricing__button1:hover,
.pricing__button2:hover {
  scale: 1.05;
  opacity: 0.8;
  cursor: not-allowed;
}

.pricing__column--info-highlight,
.pricing__column--price-highlight {
  filter: invert(1);
}

.pricing__column--info-highlight,
.pricing__column--price-highlight,
.pricing__column--buy-highlight {
  border: none;
}

.pricing__column--info-highlight {
  border-top: 1px solid rgba(0, 0, 0, 0.34);
  border-bottom: 1px solid rgba(0, 0, 0, 0.34);
}

.pricing__column:hover {
  scale: 1.05;
  opacity: 0.9;
}

/*TESTIMONIALS*/

#testimonials {
padding: 00px 0;
}

.testimonials__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonials__organizer {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 40px;
  max-width: 600px;
}

.testimonials__img--wrapper {
  height: fit-content;
}

.testimonials__img {
  width: 100%;
}

.review__user--container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.review__img--container {
  max-width: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}

.review__img {
  width: 100%;
  scale: 1.13;
  transform: translateY(5px);
}

.review__username {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.review__name {
  letter-spacing: 1px;
  font-size: 20px;
  padding: 0;
}

.user__description {
  font-size: 16px;
}

.arrow {
  padding: 16px;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  height: 50px;
  width: 50px;
  transition: all 300ms ease;
}

.fa-arrow-right {
  color: rgb(99, 35, 182);
  font-size: 20px;
}

.arrow__divider {
  width: 5px;
  height: 60px;
  background-color: #2424243d;
  border-radius: 5px;
  margin: 0 16px;
}

.fa-arrow-left {
  color: rgb(99, 35, 182);
  font-size: 20px;
}

.pic__name {
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow:hover {
  scale: 1.1;
  cursor: not-allowed;
}

.arrows {
  display: flex;
  align-items: center;
}

.testimonials__subtitle {
  padding: 20px 0 0 0;
  text-align: start;
  width: 100%;
  max-width: none;
  font-size: 18px;
}

.testimonials__rating--title {
  letter-spacing: normal;
  font-size: 22px;
}

.testimonials__review {
  padding-bottom: 20px;
  font-size: 16px;
  color: #242424a6;
}

.testimonials__rating--container {
  padding: 20px 0;
}

.fa-star {
  color: goldenrod;
}

/*FAQS*/

#faqs{
  padding: 00px 0;
}

.faqs__container {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.faqs {
  padding: 20px 0 12px;
}

.faqs__subtitle {
  font-size: 18px;
  padding: 20px 0 60px;
}

.faq__question {
  width: 800px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  border-radius: 10px;
  background-color: rgba(211, 211, 211, 0.438);
  margin-bottom: 20px;
  transition: all 300ms ease;
}

.faq__question:hover {
  background-color: rgba(211, 211, 211, 0.738);
  cursor: not-allowed;
}

.question {
  font-size: 18px;
}

/*FINAL*/

.final__row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.final__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 60px;
  background-color: rgba(67, 35, 182, 0.911);
  border-radius: 10px;
  max-width: 1000px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.final__title {
  text-align: center;
  color: white;
  font-size: 28px;
  z-index: 1;
}

.final__buttons {
  display: flex;
  justify-content: space-evenly;
}

.final__get-started,
.final__contact-us {
  padding: 12px 24px;
  border-radius: 30px;
  border: none;
  width: 120px;
  margin: 0 8px;
  font-weight: bold;
}

.final__contact-us {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  transition: all 300ms ease;
}

.final__contact-us:hover {
  background-color: white;
  color: rgba(67, 35, 182, 0.911);
  cursor: not-allowed;
}

.final__get-started {
  background-color: rgb(214, 71, 55);
  color: white;
  transition: all 300ms ease;
}

.final__get-started:hover {
  background-color: rgb(189, 33, 16);
  cursor: not-allowed;
}

.final__deco {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgba(67, 35, 182, 0.493);
  position: absolute;
  bottom: -125px;
  left: -60px;
  z-index: 0;
}

.final__deco1 {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgba(67, 35, 182, 0.493);
  position: absolute;
  top: -200px;
  right: -60px;
  z-index: 0;
}

/*FOOTER*/

footer {
  height: 30vh;
  margin-top: 100px;
}

.footer__row {
  display: flex;
  justify-content: center;
  background-color: rgba(67, 35, 182, 0.911);
  max-width: none;
}

.footer__container {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.footer__categories--container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer__category {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__category--title {
  color: white;
  margin-bottom: 20px;
  font-size: 14px;
}

.footer__list--item{
  position: relative;
  width: fit-content;
  margin-bottom: 6px;
}

.footer__category--subtitle {
  color: white;
  font-size: 12px;
}

.footer__link--hover-effect{
  width: 0%;
  height: 3px;
  border-radius: 3px;
  bottom: -3px;
  position: absolute;
  right: 0;
  background-color: rgb(255, 255, 255);
  transition: all 1000ms ease;
}


.footer__list--item:hover .footer__link--hover-effect{
  width: 100%;
  left: 0;
}


.footer__divider {
  width: 100%;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  margin: 30px 0;
}

.footer__organizer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo--container{
  height: 100%;
}

.footer__logo{
  color: rgba(67, 35, 182, 0.911);
  background-color: white;
  font-size: 22px;
}

.footer__name{
  color: white;
  font-size: 18px;
}

.footer__logo:hover{
  scale: 1.1;
}

.footer__name:hover{
color: white;
opacity: 0.7;
}

.footer__copy{
  color: rgba(255, 255, 255, 0.616);
  font-size: 10px;
  padding-top: 16px;
}

.footer__links {
  display: flex;
}

.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
  background-color: white;
  border-radius: 50%;
  width: 0px;
  height: 0px;
  padding: 16px;
}

.fa-facebook-f,
.fa-twitter,
.fa-youtube {
  color: black;
  font-size: 12px;
}

/*MEDIA QUERIES*/

@media (min-width: 1200px){
  
  #features, #quality, #steps, #values, #pricing, #testimonials, #faqs{
     padding: 150px 0;
   }

}

@media (max-width: 1200px){
  .row{
    max-width: 1000px;
  }
  
  #features, #quality, #steps, #values, #pricing, #testimonials, #faqs{
     padding: 125px 0;
   }

  .nav__row{
    max-width: 1150px;
  }

  .landing__img--wrapper{
    padding-top: 170px;
  }

  .features__title--container{
    margin-bottom: 0;
  }

  .description__text{
    font-size: 16px;
  }

  .quality__organizer{
    min-width: 430px;
    max-width: 480px;
  }

  .quality__subtitle{
    font-size: 18px;
  }

  .steps__img--wrapper{
    max-width: 480px;
  }

}
